venv/
.env
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.DS_Store
.direnv/
.drift/
drift/data/
drift.egg-info/
.cache/
*.sqlite3
.hypothesis/
.envrc
:memory:
.direnv
.sandbox_drift/
scripts/